<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link rel="icon" href="/images/Logo.ico" type="tipe-mime" />
  </head>
  <body>
    <!-- <a href="#maincontent" class="skip-link">Menuju ke konten</a> -->

    <nav class="navbar">
      <div class="logo">
        <img src="/images/Logo.ico" alt="Pentol Gila Apps" />
      </div>
      <div>
        <button class="icon" id="hamburger-button" aria-label="Toggle Navigation">&#9776;</button>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/dea-puspita-">About Us</a></li>
      </ul>
    </nav>

    <!-- jumbotron -->
    <div class="jumbotron">
      <img src="/images/heros/hero-image_2.jpg" alt="Hero Image" />
      <div class="jumbotron-content">
        <h1>Welcome to Our Restaurant</h1>
        <p>Discover the Best Dining Experience</p>
        <a href="#" class="btn">View Menu</a>
      </div>
    </div>
    <!-- end jumbotron -->

    <!-- maincontent -->
    <div id="maincontent" tabindex="0">
      <!-- menu card -->
      <div class="restaurant-list" id="restaurantList"></div>
      <!-- end menu card -->
    </div>

    <!-- footer -->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <p>Copyright &copy; 2023 - Restaurant Apps</p>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
